body {
  background-color:black;
}

.header {
  height:70px;
  background-color:gold;
  color:grey;
}

.header-logo {
  font-size:63px;
  margin-left:560px;
}
  .item {
    background-color:cadetblue;
    color:black;
    padding:10px;
    margin:10px;
  }
  h1 {
    margin-left:240px;
    color:honeydew;
    margin-top:50px;
  }
 
  h3{
    color:khaki;
  }
  img {
    
  
    image-rendering: -webkit-optimize-contrast;
  }

  video {
    margin-left:190px;
  }
   
 .aiueo {
   float:left;
  margin-left:249px;
 }

 .kakikukeko {
   margin-left:256px;
 }

 
 
  

  
  

  
